body > header {
  margin-top: 5em;
  height: 400px;
  width: 100%;
  background-color: #f09000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: white;
  text-align: center;
}

header h2 {
  text-align: center;
}

@media screen and (min-width: 1024px){
  .background {
    float: left;
    width: 35vw;
    margin-top: 200px; 
    margin-left: 50px;  
  }
}