.nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Bungee";
  color: #FFFFFF;
  padding: 0 1.5em;
  height: 120px;
  background-color: #4056A1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Bungee";
}

.create-new-tweet {
  font-family: "Bungee";
}

.logo {
  font-family: "bungee";
}

#write-tweet {
  display: flex;
  flex-flow: column;
  align-items: center;
}

nav i {
  color: red;
  transform: translateY(-10px);
}