.new-tweet {
  padding: 0px 10px 20px 10px;
  margin: 2em;
  width:70%;
  background-color: #eee;
  display:inline-block;
}

.class-name {
  text-align: left;
  border-bottom: 3px solid black;
}

textarea {
  padding: 5px;
  width: 100%;
  background: transparent;
  border: 0 none;
}

#error-container {
  display: none;
  justify-content: space-between;
  align-items: center;

  color: rgb(202, 84, 84);
  font-size: 1.2rem;
  font-family: sans-serif;

  border: 1px solid;
  border-color: rgb(202, 84, 84);

  padding: 1em;
  
}

.new-tweet .counter {
  float:right;
  font-family: "bungee";
}

button, input{
  margin-top: 1em;
  float:left;
  background-color: #4056A1;
  font-family: "bungee";
  color: white;
} 

.over {
  color: red;
}
